<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>Filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartList</servlet-name>
        <servlet-class>Controller.CartList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>CartList</servlet-name>
        <url-pattern>/CartList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>Controller.AddProduct</servlet-class>
          <multipart-config>
        <location>/tmp</location>
        <max-file-size>20848820</max-file-size>
        <max-request-size>418018841</max-request-size>
        <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>Controller.ProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceList</servlet-name>
        <servlet-class>Controller.InvoiceList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleList</servlet-name>
        <servlet-class>Controller.ArticleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInvoiceLine</servlet-name>
        <servlet-class>Controller.AddInvoiceLine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceLineList</servlet-name>
        <servlet-class>Controller.InvoiceLineList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvoiceList</servlet-name>
        <url-pattern>/InvoiceList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInvoiceLine</servlet-name>
        <url-pattern>/AddInvoiceLine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceLineList</servlet-name>
        <url-pattern>/InvoiceLineList</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
